

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}
button, .button {
    background-color: #f95a61;
}
.panel.callout {
    background-color: #f2f2f2;
    border-color: #d8d8d8;
}
.panel.callout a:not(.button) {
    color: #f95a61;
}
h1, h2, h3 {
    color: #f95a61;
    text-align: center;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}